@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

a{
color:#000;
text-decoration:none;	
}
a:hover{
color:#000;
text-decoration:none;	
}
#banner_top{
height:110px;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;
    background-color: rgba(223, 196, 228, 0.26);
	padding:0px;
}
.banner_top_ads1{
padding:0px;	
margin:0px;
}
banner_top .banner_top_ads{
	width:100%;
	margin:0px;	
}
body{
    background-color:#FFFFFF;
}
#menu_top1{
border-bottom:1px dotted #999999;
    padding:0px;
}
#menu_top2{
height:40px;
background-color:#CC3;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;	
}
#short_slide{
	height:40px;
    padding:0px;
}
.breaking-news {
    display: block;
    height: 29px;
    margin-bottom: 15px;
    overflow: hidden;
}
.slide_top{
	background-color:#999;
	height:250px;	
	margin-top:4px;
}
.left{
	min-height:300px;
	padding:0px 0px;
}
.center{
	min-height:300px;
}
.right{
	min-height:300px;
}
.latest_review_box{
	padding:0px;
	margin:0px;
	border-bottom:1px dotted #CCC;
	padding-bottom:15px;
	padding-top:15px;
}
.latest_review_box_title{
	padding:0px;
	margin-right:0px;
}
.latest_review_box a{
	color: #232323;
	font-size: 16px;
	font-weight: bold;
	font-family: "Titillium Web",sans-serif;
}
.latest_review_box a:hover {
	text-decoration: underline;
}
.latest_review_box p {
	color: #264c84;
	font-size: 12px;
}
.latest_review_box span {
	font-style: italic;
	font-size: 12px;
}
.img_review {
	margin-left:0px;
	padding-left:0px
}
.img_latest:hover {
  -moz-transform: scale(1.03) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.03) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.03) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.03) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.03) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.img_latest {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.panel_header {
  background: #ececec none repeat scroll 0 0;
  display: block;
  height: 35px;
  margin-bottom: 15px;
  overflow: hidden;
}
.panel_header b {
  background: #264c84 none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-size: 13px;
  padding: 5px 10px;
  height: 35px;
  text-transform: uppercase;
  z-index: 0;
  margin-left: -15px;
  line-height: 25px;
}
.panel_header b:after {
  background: inherit;
  content: "";
  display: block;
  height: 29px;
  position: absolute;
  right: -10px;
  top: -10px;
  transform: rotate(15deg);
  width: 40px;
  z-index: -1;
}
/*breaking new */
div div .mymarq{
	background-color:#EEE;
	
}
.mymarq ul li:nth-child(even) a{color:rgba(0, 0, 0, 0.47) ;color:#999;}
.mymarq ul li:nth-child(odd) a{color:#000033;}
.mymarq ul li a:hover{
    color: #000066;
}

/*endo of breaking news*/
.footer{
	height:50px;
    border-bottom: solid thin rgba(0, 0, 0, 0.47);
    padding: 0;
}
.box_left{
	margin-top:10px;	
	border-bottom:1px dotted #999;
	padding:17px 2px;
}
.title_left{
	font-size:18px;
	margin-top:10px;
	font-weight:bold;
	cursor:pointer;
}
.title_left{
	color:#000;
	text-decoration:none;
}
.title_left:hover{
	text-decoration:underline;	
}
.description_left{
	
}
.post_date_left{
	height:30px;

	font-size:15px;
	color:#999;
	margin:7px 0px;
	line-height:30px;
}
.read_full{
	font-size:12px;
	font-weight:bold;
	margin-top:12px;	
}
.read_full a{
	text-decoration:none;
	color:#000;	
}
.read_full a:hover{
	text-decoration:underline;
	color:#005;	
}
.image_left{
	width:100%;	
}

/*style for image:hover left*/

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */

#effect-5{
	width:100%;padding:0px;
}
#effect-5 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-5 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
  opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}


/*End style for image:hover left*/


/*start of menu1 */
.myover li{
    font-size: 15px;
    font-weight: 500;
}
.myover{
    padding-left: 85px;
}
.myover li:hover{
    color: #ffffff;
    background-color:#ced0cd;
}
.myover li a:hover{
    color: #ffffff;
}

/*end of menu1 */

/*footer  */
.myfoot{
    background-color:#333333;
    padding-top: 30px;
    padding-bottom: 90px;
	margin-bottom:10px;
}
.listfooter{
    list-style: none;
    margin-top: 14px;
    border-bottom:1px dotted rgba(0, 0, 0, 0.22);
    line-height: 26px;

}
.fbcon1{
    width: 40px;
    height: 40px;
    margin-top: 40px;
    border-radius: 100%;
    float: left;
    margin-left: 10px;
}
.la1{
    color: #ffffff;
	font-size:25px;
}
#leg1{
    color:#000;
    font-size: 15px;
    padding-top: 15px;
    cursor:pointer;
}
#leg1:hover{
    text-decoration: underline;
    color: #000;
}
.ab{
    font-size: 16px;
   padding-top: 15px;
}
.left_image{
margin:0px;
padding:0px;	
}
.right_image{
margin:0px;
padding:0px;	
}
.box_center{
	margin-top:0px;	
	border-bottom:1px dotted #999;
	padding:10px 2px;
}
.center_image{
	padding:0px;
	margin-right:10px;	
}
.center_image:hover{
	border-radius:5px;
    border:inset 4px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.box_right{
	margin-top:14px;
	padding:0px;
	border-bottom:1px dotted #999;
	padding:10px 2px;
	border-bottom:1px dotted #666666;
}
.left_image{
	padding:0px;
	margin:0px;
}
.right_title{
	font-size:16px;	
	padding-top:0px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:0px;
}
.box_right a:hover{
	color:#009;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay i.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
#effect-6 .img.hover .overlay {
  opacity: 0.5;
  
}
#effect-6 .img.hover .overlay i.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

/* ------------------------------------------------------------ */
/*Slide top*/
.jssorb01 {
                position: absolute;
            }
            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
                position: absolute;
                /* size of bullet elment */
                width: 12px;
                height: 12px;
                filter: alpha(opacity=70);
                opacity: .7;
                overflow: hidden;
                cursor: pointer;
                border: #000 1px solid;
            }
            .jssorb01 div { background-color: gray; }
            .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
            .jssorb01 .av { background-color: #fff; }
            .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
        
		
		 .jssora05l, .jssora05r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: url(../img/slide_scroll.png) no-repeat;
                overflow: hidden;
            }
            .jssora05l { background-position: -10px -40px; }
            .jssora05r { background-position: -70px -40px; }
            .jssora05l:hover { background-position: -130px -40px; }
            .jssora05r:hover { background-position: -190px -40px; }
            .jssora05l.jssora05ldn { background-position: -250px -40px; }
            .jssora05r.jssora05rdn { background-position: -310px -40px; }
        

			
/*end of slide top*/
.slide-top{
padding:0px;
margin:0px;	
}
/*css for single page*/
.single_title{
	font-size:20px;
	font-weight:bold;
	color:#006;
	margin:15px 10px;
	padding-top:10px;	
	line-height:30px;
}
.single_social{
		margin:10px;
		border-bottom:1px dotted #666666;
		border-top:1px dotted #666666;
		min-height:40px;
    line-height: 40px;
}
.single_content{
	padding:15px 10px;
	line-height:30px;	
}
/*end of css for single page*/
/*CSS for Category page*/
.break-line{
	line-height:10px;border-bottom:1px dotted #666666;	
}
/*End CSS for category page*/



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a.social {
 background-color: #CCC;   
 opacity: 0.8;
}
			
			
			
			





