a{
color:#000;
text-decoration:none;	
}
a:hover{
color:#000;
text-decoration:none;	
}
#banner_top{
height:110px;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;
    background-color: rgba(223, 196, 228, 0.26);
}
body{
    background-color:#FFFFFF;
}
#menu_top1{
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;
    padding:0px;
}
#menu_top2{
height:40px;
background-color:#CC3;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;	
}
#short_slide{
	height:40px;
    padding:0px;
}
.breaking-news {
    display: block;
    height: 29px;
    margin-bottom: 15px;
    overflow: hidden;
}
.slide_top{
	background-color:#999;
	height:250px;	
}
.left{
	min-height:500px;
	padding:0px 0px;
}
.center{
	min-height:500px;
}
.right{
	min-height:1000px;
}
.latest-review{
	min-height:40px;background-color:#03C;	
	margin-top:5px;margin-bottom:5px;
}
.latest_review_box{
height:120px;
background-color:#CCC;
margin-bottom:3px;	
border-bottom:1px dotted #666666;
}

/*breaking new */
div div .mymarq{
	background-color:#EEE;
	
}
.mymarq ul li:nth-child(even) a{color:rgba(0, 0, 0, 0.47) ;color:#999;}
.mymarq ul li:nth-child(odd) a{color:#000033;}
.mymarq ul li a:hover{
    color: #000000;
}

/*endo of breaking news*/
.footer{
	height:50px;
    border-bottom: solid thin rgba(0, 0, 0, 0.47);
    padding: 0;
}
.box_left{
	margin-top:10px;	
	border-bottom:1px dotted #999;
	padding:17px 2px;
}
.title_left{
	font-size:18px;
	margin-top:10px;
	font-weight:bold;
}
.title_left{
	color:#000;
	text-decoration:none;
}
.title_left:hover{
	text-decoration:underline;	
}
.description_left{
	text-indent:20px;	
}
.post_date_left{
	height:30px;

	font-size:15px;
	color:#999;
	margin:7px 0px;
	line-height:30px;
}
.read_full{
	font-size:12px;
	font-weight:bold;
	margin-top:12px;	
}
.read_full a{
	text-decoration:none;
	color:#000;	
}
.read_full a:hover{
	text-decoration:underline;
	color:#005;	
}
.image_left{
	width:100%;	
}

/*style for image:hover left*/

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */
#effect-5 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-5 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
  opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}


/*End style for image:hover left*/
<<<<<<< HEAD


/*start of menu1 */
.myover li{
    font-size: 16px;
    font-weight: 500;
    color: #070605;
}
.myover{
    padding-left: 85px;
}
.myover li:hover{
    color: #ffffff;
    background-color:#ff8619;
    text-decoration: underline;
}
.myover li a{
    color: red;
}

/*end of menu1 */

/*footer  */
.myfoot{
    height: 250px;
    background-color:#000000;
}

/*end of footer*/
=======
.left_image{
margin:0px;
padding:0px;	
}
.right_image{
margin:0px;
padding:0px;	
}
.box_center{
	margin-top:0px;	
	border-bottom:1px dotted #999;
	padding:10px 2px;
}
.center_image{
	padding:0px;
	margin-right:10px;	
}
.center_image:hover{
	border-radius:5px;
    border:inset 4px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.box_right{
	margin-top:14px;	
	font-weight:bold;
	padding:0px;
	border-bottom:1px dotted #999;
	padding:10px 2px;
	border-bottom:1px dotted #666666;
}
.left_image{
	padding:0px;
	margin:0px;
}
.right_title{
	font-size:16px;	
	padding-top:0px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:0px;
}
.box_right a:hover{
	color:#009;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay i.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
#effect-6 .img.hover .overlay {
  opacity: 0.5;
  
}
#effect-6 .img.hover .overlay i.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

/* ------------------------------------------------------------ *\




