#banner_top{
height:110px;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;	
}
#menu_top1{
height:45px;
background-color:#f6f6f6;	
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;	
}
#menu_top2{
height:40px;
background-color:#CC3;
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;	
}
#short_slide{
	height:40px;
    padding:0px;
}
.breaking-news {
    display: block;
    height: 29px;
    margin-bottom: 15px;
    overflow: hidden;
}
.slide_top{
	background-color:#999;
	height:250px;	
}
.banner_top{
	background-color:#CCC;
	height:250px;	
}
.left{
	min-height:500px;
	background-color:#039;	
}
.center{
	min-height:500px;
	background-color:#096;	
}
.right{
	min-height:1000px;
	background-color:#999;	
}
.latest-review{
	min-height:40px;background-color:#03C;	
	margin-top:5px;margin-bottom:5px;
}
.latest_review_box{
height:120px;
background-color:#CCC;
margin-bottom:3px;	
border-bottom:1px dotted #666666;
}

/*breaking new */
ul li:nth-child(even) a{color:rgba(0, 0, 0, 0.47) ; font-size:17px;}
ul li:nth-child(odd) a{color:#000000}
ul li a:hover{
    color: #000000;
}

/*endo of breaking news*/
.footer{
	height:50px;
	background-color:#099;	
}